<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="login-container">
          <h1>Login</h1>
          <p>Please click the button below to login with your MetaMask account.</p>
          <button id="loginButton">Login with MetaMask</button>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/web3/dist/web3.min.js"></script>
    <script src="/javascripts/login.js"></script>
  </body>
</html>

